/supervised learning/1. ML tasks/.ipynb_checkpoints/
/venv/
/supervised learning/1. ML tasks/2.txt
/supervised learning/1. ML tasks/1.txt
/supervised learning/1. ML tasks/4.txt
/supervised learning/1. ML tasks/3.txt
/supervised learning/3. Linear model/.ipynb_checkpoints/
/supervised learning/2. Overfitting and Metrics/.ipynb_checkpoints/
/supervised learning/2. Overfitting and Metrics/ex/.ipynb_checkpoints/
/JustForTests.ipynb
/supervised learning/3. Linear model/preprocessing_lr_answer1.txt
/supervised learning/3. Linear model/preprocessing_lr_answer2.txt
/supervised learning/3. Linear model/preprocessing_lr_answer3.txt
/supervised learning/3. Linear model/preprocessing_lr_answer4.txt
/supervised learning/3. Linear model/preprocessing_lr_answer5.txt
/supervised learning/3. Linear model/preprocessing_lr_answer6.txt
/supervised learning/4. Forests/answer1.txt
/supervised learning/4. Forests/answer2.txt
/supervised learning/4. Forests/answer3.txt
/supervised learning/4. Forests/answer4.txt
/supervised learning/4. Forests/answer5.txt
/supervised learning/4. Forests/task2.txt
/supervised learning/4. Forests/task3.txt
/supervised learning/4. Forests/task4.txt
/supervised learning/4. Forests/task5.txt
/supervised learning/5. Network_Bayes_KNN_SVM/ans_1.txt
/supervised learning/5. Network_Bayes_KNN_SVM/ans_2.txt
/supervised learning/5. Network_Bayes_KNN_SVM/ans_3.txt
/supervised learning/5. Network_Bayes_KNN_SVM/1.txt
/supervised learning/5. Network_Bayes_KNN_SVM/2.txt
